<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CStudent</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</head>

<body>
  <h1>Welcome to CStudent</h1>

  <h2>Sign Up</h2>

  <label for="signup_name">
    name
    <input type="text" id="signup_name" name="signup_name">
  </label>
  <label for="signup_email">
    email
    <input type="text" id="signup_email" name="signup_email">
  </label>
  <label for="signup_password">
    password
    <input type="password" id="signup_password" name="signup_password">
  </label>
  <button id="signup">SIGN UP</button>

  <hr>

  <h2>Login</h2>

  <label for="login_email">
    email
    <input type="text" id="login_email" name="login_email">
  </label>
  <label for="login_password">
    password
    <input type="password" id="login_password" name="login_password">
  </label>
  <button id="login">LOGIN</button>

  <script src="js/landing.js"></script>
</body>

</html>