body {
  background-color: grey;
}
input {
  display: block;
  margin: 10px;
}

.progress-card {
  margin: auto;
  width:auto;
  height:auto;
}


.prueba-tarjeta-progreso{
  display:inline-block;
  flex-direction:row;
}

#users-progress{
background-color: purple;
display:flex;
flex-direction:row;
flex-wrap:wrap;
}

#course-status{
  display:block;

}

#search-results{
  display:inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}