:root{
  --color-bg: #2C2F33;
  --color-primary: #36393d;
  --color-secondary:#C4C4C4;
  --color-btn-primary: #7289DA;
  --color-btn-primary-darker: #aab8e9;
  --color-links: #1877F2;
  --color-progress-bar: #2C2F33;
}

body {
  height: 100vh;
  width:auto;
  background-color: var(--color-bg);
  color: var(--color-secondary)
}

.text-muted {
  color:white;
}
body, #card-bg, .card-course-bg {
   background-color: var(--color-bg);
}

footer{
background: linear-gradient(180deg, rgba(44,47,51,1) 0%, rgba(66,70,75,0.5) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;         
}
.h1,h1, #cstudent-title{
font-size:calc(1.375rem + 3.5vw);;
}

.main-color{
  background-color: var(--color-primary);
}

.progress-card {
  margin: auto;
  width:auto;
  height:auto;
}

.prueba-tarjeta-progreso{
  display:inline-block;
  flex-direction:row;
}

.text-main{
  color: var(--color-secondary)
}

.content-wrap {
  padding-bottom: 2.5rem;  
      transform: translateY(100%);
}
#content-wrap {
  padding-bottom: 2.5rem;  
}

#course-status{
  display:block;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#password-container, #profile-container{
  background-color: var(--color-primary);
}

#search-bar, #users-progress, #users-tracking, #search-results, #add-course-form{
  background-color: var(--color-primary);
}

#search-results{
  display:inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#users-progress{
display:flex;
flex-direction:row;
flex-wrap:wrap;
}


