input {
  display: block;
  margin: 10px;
}
div {
  border-bottom: 3px solid blue;
}

.progress-card {
  margin: auto;
  width:auto;
  height:auto;
}

.card-container{
  display:inline-flex
  flex-direction:row;
}